In [12]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
import warnings
import numpy as np

from sklearn.preprocessing import LabelEncoder
from sklearn.impute import KNNImputer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score
 
warnings.filterwarnings('ignore')

In [13]:
df= pd.read_csv('../../data/batdongsan/numerized/ChungCu_numerized-dataset.csv')
df = df.dropna()
print(df)

       Unnamed: 0  DienTich  \
1               1      50.0
4               4     110.0
6               6     105.5
12             12      94.0
15             15      92.0
...           ...       ...
22798       22798      73.0
22812       22812     493.7
22814       22814      57.0
22816       22816      51.0
22818       22818      80.0

                                                  DiaChi  City  District  \
1      The Gold View, 346, Đường Bến Vân Đồn, Phường ...  79.0     773.0
4      Dự án Seasons Avenue, Phường Mỗ Lao, Hà Đông, ...   1.0     268.0
6      Dự án MHD Trung Văn, Đường Tố Hữu, Phường Trun...   1.0      19.0
12     Dự án Resco Cổ Nhuế, Đường Phạm Văn Đồng, Phườ...   1.0      21.0
15     Dự án Bình Minh Garden, Đường Đức Giang, Phườn...   1.0       4.0
...                                                  ...   ...       ...
22798  Dự án MT Eastmark City, Đường Vành Đai 3, Phườ...  79.0     763.0
22812  Dự án Sunshine Golden River, Phường Phú Thượng...   1.0       3.0
22814  Dự án Bcons Garden, Đường Phạm Hữu Lầu, Phường...  74.0     724.0
22816  Dự án The Privia, 158 Đường An Dương Vương, Ph...  79.0     777.0
22818  Dự án Usilk City, Đường Tố Hữu, Phường La Khê,...   1.0     268.0

             MucGia  SoPhongNgu  SoToilet  NoiThat        Lat        Long  \
1      3.700000e+09         1.0       1.0      2.0  10.756248  106.691849
4      5.500000e+09         3.0       2.0      2.0  20.987026  105.786835
6      5.500000e+09         3.0       2.0      0.0  20.991955  105.785103
12     3.650000e+09         3.0       2.0      2.0  21.059006  105.783226
15     4.400000e+09         3.0       2.0      2.0  21.069098  105.888039
...             ...         ...       ...      ...        ...         ...
22798  2.900000e+09         1.0       1.0      3.0  10.800768  106.821790
22812  5.430700e+10         8.0       6.0      0.0  21.078651  105.802612
22814  1.380000e+09         2.0       2.0      3.0  10.904727  106.751717
22816  2.990000e+09         1.0       1.0      3.0  10.727885  106.620361
22818  3.210000e+09         2.0       2.0      2.0  20.974472  105.760880

       HuongNha  HuongBanCong  PhapLy     Ward
1           5.0           6.0     4.0  27298.0
4           6.0           5.0     1.0   9541.0
6           7.0           6.0     4.0    637.0
12          1.0           2.0     1.0    617.0
15          5.0           7.0     4.0    124.0
...         ...           ...     ...      ...
22798       4.0           3.0     4.0  26860.0
22812       6.0           6.0     4.0     91.0
22814       4.0           3.0     1.0  25942.0
22816       1.0           2.0     4.0  27460.0
22818       3.0           4.0     1.0   9551.0

[6016 rows x 15 columns]

In [14]:
# df = df.dropna(subset=['MucGia'])
df["USD"] = (df["MucGia"]/25400).round(2)
# df=df.drop(columns="MucGia")

In [15]:
df=df.drop(columns=["Unnamed: 0","DiaChi","MucGia","Lat","Long"])

In [16]:
df.head(5)

,DienTich,City,District,SoPhongNgu,SoToilet,NoiThat,HuongNha,HuongBanCong,PhapLy,Ward,USD
1,50.0,79.0,773.0,1.0,1.0,2.0,5.0,6.0,4.0,27298.0,145669.29
4,110.0,1.0,268.0,3.0,2.0,2.0,6.0,5.0,1.0,9541.0,216535.43
6,105.5,1.0,19.0,3.0,2.0,0.0,7.0,6.0,4.0,637.0,216535.43
12,94.0,1.0,21.0,3.0,2.0,2.0,1.0,2.0,1.0,617.0,143700.79
15,92.0,1.0,4.0,3.0,2.0,2.0,5.0,7.0,4.0,124.0,173228.35

In [17]:
# Assuming df is your DataFrame
X = df.iloc[:,0:10].values#features
y = df.iloc[:,10].values# Target variable

In [18]:
label_encoder = LabelEncoder()
x_numerical = df.select_dtypes(exclude=['object']).values
# Split dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(x_numerical, y, test_size=0.2, random_state=42)

# Initialize the Random Forest Regressor
regressor = RandomForestRegressor(n_estimators=100, max_depth=10, random_state=0, oob_score=True)

# Fit the model
regressor.fit(X_train, y_train)

# Access the OOB Score
oob_score = regressor.oob_score_
print(f'Out-of-Bag Score: {oob_score}')

# Making predictions on the test data
y_pred = regressor.predict(X_test)

# Đánh giá mô hình
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error: {mse}')
print(f'Root Mean Squared Error: {rmse}')
print(f'R-squared: {r2}')

Out-of-Bag Score: 0.8382607977162548
Mean Squared Error: 33720774.061206326
Root Mean Squared Error: 5806.959106210954
R-squared: 0.9990129441521363

In [19]:
# Dự đoán trên tập huấn luyện
y_train_pred = regressor.predict(X_train)

# Đánh giá trên tập huấn luyện
mse_train = mean_squared_error(y_train, y_train_pred)
rmse_train = np.sqrt(mse_train)
r2_train = r2_score(y_train, y_train_pred)

print(f'Mean Squared Error (Train): {mse_train}')
print(f'Root Mean Squared Error (Train): {rmse_train}')
print(f'R-squared (Train): {r2_train}')

Mean Squared Error (Train): 821753767.6020592
Root Mean Squared Error (Train): 28666.24788147307
R-squared (Train): 0.9860559170981411

# Random forest fill NA with KNN Imputer

sử dụng KNN Imputer - dựa trên các giá trị lân cận, ví dụ neighbors=2 với dữ liệu NA ở hàng 3 thì sẽ lấy cột 2 + cột 4 chia ra lấy trung bình

In [20]:
import pandas as pd
import numpy as np
from sklearn.impute import KNNImputer
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import GridSearchCV

# Load data
df = pd.read_csv('../../data/batdongsan/numerized/ChungCu_numerized-dataset.csv')

# Kiểm tra các giá trị bị thiếu
print(df.isnull().sum())

# Khởi tạo KNN Imputer
imputer = KNNImputer(n_neighbors=5)

# Chọn các cột cần điền giá trị thiếu
columns_to_impute = df.select_dtypes(include=[np.number]).columns

# Điền giá trị thiếu
df[columns_to_impute] = imputer.fit_transform(df[columns_to_impute])

# Kiểm tra lại các giá trị bị thiếu
print(df.isnull().sum())

Unnamed: 0          0
DienTich            4
DiaChi              1
City                1
District          101
MucGia           2505
SoPhongNgu        595
SoToilet         1749
NoiThat          5313
Lat                34
Long               34
HuongNha        13649
HuongBanCong    12757
PhapLy           4492
Ward              867
dtype: int64
Unnamed: 0      0
DienTich        0
DiaChi          1
City            0
District        0
MucGia          0
SoPhongNgu      0
SoToilet        0
NoiThat         0
Lat             0
Long            0
HuongNha        0
HuongBanCong    0
PhapLy          0
Ward            0
dtype: int64

In [21]:
df = df.dropna()
print(df)

       Unnamed: 0  DienTich  \
0             0.0     50.00
1             1.0     50.00
2             2.0     73.00
3             3.0     33.24
4             4.0    110.00
...           ...       ...
22822     22822.0     68.00
22823     22823.0     53.00
22824     22824.0     46.00
22825     22825.0     51.00
22826     22826.0     63.60

                                                  DiaChi  City  District  \
0      Dự án D-Aqua, Đường Bến Bình Đông, Phường 14, ...  79.0     776.0
1      The Gold View, 346, Đường Bến Vân Đồn, Phường ...  79.0     773.0
2      The Gloria by Silk Path, số 8, Đường Nguyên Hồ...   1.0       6.0
3      Dự án Ben Hill Thuận An , Đường Thuận Giao 24,...  74.0     725.0
4      Dự án Seasons Avenue, Phường Mỗ Lao, Hà Đông, ...   1.0     268.0
...                                                  ...   ...       ...
22822  Dự án Saigon Asiana, Đường Nguyễn Văn Luông, P...  79.0     775.0
22823  Dự án The Dragon Castle, Đường Cái Lân, Phường...  22.0     193.0
22824  Dự án Samsora Riverside, Đường Xa Lộ Hà Nội, P...  74.0     724.0
22825  Dự án Hilton Hải Phòng, Đường Trần Quang Khải,...  31.0     303.0
22826  Dự án Vinhomes Ocean Park Gia Lâm, Xã Đa Tốn, ...   1.0      18.0

             MucGia  SoPhongNgu  SoToilet  NoiThat        Lat        Long  \
0      2.250000e+09         1.0       1.0      3.0  10.739294  106.644394
1      3.700000e+09         1.0       1.0      2.0  10.756248  106.691849
2      6.078400e+11         2.0       2.0      2.0  21.015852  105.809235
3      1.000000e+09         1.0       1.8      2.6  21.026758  105.841194
4      5.500000e+09         3.0       2.0      2.0  20.987026  105.786835
...             ...         ...       ...      ...        ...         ...
22822  3.350000e+09         2.0       2.0      3.0  10.749306  106.635384
22823  1.300000e+09         2.0       2.0      2.0  20.951185  107.035522
22824  9.100000e+08         2.0       1.0      2.0  10.899458  106.832153
22825  4.644660e+11         1.0       1.0      3.0  20.859999  106.684479
22826  2.550000e+09         2.0       2.0      0.0  21.002415  105.964111

       HuongNha  HuongBanCong  PhapLy     Ward
0           5.4           6.0     2.4  27421.0
1           5.0           6.0     4.0  27298.0
2           4.0           3.0     1.0    199.0
3           4.6           5.8     1.8  25972.0
4           6.0           5.0     1.0   9541.0
...         ...           ...     ...      ...
22822       4.0           4.0     1.0  27358.0
22823       6.4           6.8     4.0   6673.0
22824       4.4           4.8     1.0  25954.0
22825       3.0           3.0     2.0  11320.0
22826       5.6           5.0     1.0    577.0

[22826 rows x 15 columns]

In [22]:
# df = df.dropna(subset=['MucGia'])
df["USD"] = (df["MucGia"]/25400).round(2)
# df=df.drop(columns="MucGia")

In [23]:
df=df.drop(columns=["Unnamed: 0","DiaChi","MucGia","Lat","Long"])

In [24]:
df.head(5)

,DienTich,City,District,SoPhongNgu,SoToilet,NoiThat,HuongNha,HuongBanCong,PhapLy,Ward,USD
0,50.00,79.0,776.0,1.0,1.0,3.0,5.4,6.0,2.4,27421.0,88582.68
1,50.00,79.0,773.0,1.0,1.0,2.0,5.0,6.0,4.0,27298.0,145669.29
2,73.00,1.0,6.0,2.0,2.0,2.0,4.0,3.0,1.0,199.0,23930708.66
3,33.24,74.0,725.0,1.0,1.8,2.6,4.6,5.8,1.8,25972.0,39370.08
4,110.00,1.0,268.0,3.0,2.0,2.0,6.0,5.0,1.0,9541.0,216535.43

In [25]:
# Assuming df is your DataFrame
X = df.iloc[:,0:10].values#features
y = df.iloc[:,10].values# Target variable# Target variable

In [26]:
label_encoder = LabelEncoder()
x_numerical = df.select_dtypes(exclude=['object']).values
# Split dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(x_numerical, y, test_size=0.2, random_state=42)

# Initialize the Random Forest Regressor
regressor = RandomForestRegressor(n_estimators=100, max_depth=10, random_state=0, oob_score=True)

# Fit the model
regressor.fit(X_train, y_train)

# Access the OOB Score
oob_score = regressor.oob_score_
print(f'Out-of-Bag Score: {oob_score}')

# Making predictions on the test data
y_pred = regressor.predict(X_test)

# Đánh giá mô hình
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error: {mse}')
print(f'Root Mean Squared Error: {rmse}')
print(f'R-squared: {r2}')

Out-of-Bag Score: 0.9939624838960051
Mean Squared Error: 64219671.04433096
Root Mean Squared Error: 8013.717679350263
R-squared: 0.9999988216600529

In [27]:
# Dự đoán trên tập huấn luyện
y_train_pred = regressor.predict(X_train)

# Đánh giá trên tập huấn luyện
mse_train = mean_squared_error(y_train, y_train_pred)
rmse_train = np.sqrt(mse_train)
r2_train = r2_score(y_train, y_train_pred)

print(f'Mean Squared Error (Train): {mse_train}')
print(f'Root Mean Squared Error (Train): {rmse_train}')
print(f'R-squared (Train): {r2_train}')

Mean Squared Error (Train): 41430252640.614426
Root Mean Squared Error (Train): 203544.22772609993
R-squared (Train): 0.9992163368123017

# Random forest fill NA with median value

In [28]:

from sklearn.impute import SimpleImputer
# Load data
df = pd.read_csv('../../data/batdongsan/numerized/ChungCu_numerized-dataset.csv')

# Kiểm tra các giá trị bị thiếu
print(df.isnull().sum())
# Khởi tạo SimpleImputer
imputer = SimpleImputer(strategy='mean')
columns_to_round = ['SoToilet', 'SoPhongNgu', 'NoiThat', 'HuongNha', 'HuongBanCong', 'PhapLy']

# Điền giá trị thiếu
df[columns_to_impute] = imputer.fit_transform(df[columns_to_impute])
df[columns_to_round] = df[columns_to_round].round()

# Kiểm tra lại các giá trị bị thiếu
print(df.isnull().sum())

# Các bước tiếp theo tương tự như trên

Unnamed: 0          0
DienTich            4
DiaChi              1
City                1
District          101
MucGia           2505
SoPhongNgu        595
SoToilet         1749
NoiThat          5313
Lat                34
Long               34
HuongNha        13649
HuongBanCong    12757
PhapLy           4492
Ward              867
dtype: int64
Unnamed: 0      0
DienTich        0
DiaChi          1
City            0
District        0
MucGia          0
SoPhongNgu      0
SoToilet        0
NoiThat         0
Lat             0
Long            0
HuongNha        0
HuongBanCong    0
PhapLy          0
Ward            0
dtype: int64

In [29]:
df = df.dropna()
print(df)

       Unnamed: 0  DienTich  \
0             0.0     50.00
1             1.0     50.00
2             2.0     73.00
3             3.0     33.24
4             4.0    110.00
...           ...       ...
22822     22822.0     68.00
22823     22823.0     53.00
22824     22824.0     46.00
22825     22825.0     51.00
22826     22826.0     63.60

                                                  DiaChi  City  District  \
0      Dự án D-Aqua, Đường Bến Bình Đông, Phường 14, ...  79.0     776.0
1      The Gold View, 346, Đường Bến Vân Đồn, Phường ...  79.0     773.0
2      The Gloria by Silk Path, số 8, Đường Nguyên Hồ...   1.0       6.0
3      Dự án Ben Hill Thuận An , Đường Thuận Giao 24,...  74.0     725.0
4      Dự án Seasons Avenue, Phường Mỗ Lao, Hà Đông, ...   1.0     268.0
...                                                  ...   ...       ...
22822  Dự án Saigon Asiana, Đường Nguyễn Văn Luông, P...  79.0     775.0
22823  Dự án The Dragon Castle, Đường Cái Lân, Phường...  22.0     193.0
22824  Dự án Samsora Riverside, Đường Xa Lộ Hà Nội, P...  74.0     724.0
22825  Dự án Hilton Hải Phòng, Đường Trần Quang Khải,...  31.0     303.0
22826  Dự án Vinhomes Ocean Park Gia Lâm, Xã Đa Tốn, ...   1.0      18.0

             MucGia  SoPhongNgu  SoToilet  NoiThat        Lat        Long  \
0      2.250000e+09         1.0       1.0      3.0  10.739294  106.644394
1      3.700000e+09         1.0       1.0      2.0  10.756248  106.691849
2      5.628265e+09         2.0       2.0      2.0  21.015852  105.809235
3      1.000000e+09         1.0       2.0      2.0  21.026758  105.841194
4      5.500000e+09         3.0       2.0      2.0  20.987026  105.786835
...             ...         ...       ...      ...        ...         ...
22822  3.350000e+09         2.0       2.0      3.0  10.749306  106.635384
22823  1.300000e+09         2.0       2.0      2.0  20.951185  107.035522
22824  9.100000e+08         2.0       1.0      2.0  10.899458  106.832153
22825  5.628265e+09         1.0       1.0      3.0  20.859999  106.684479
22826  2.550000e+09         2.0       2.0      0.0  21.002415  105.964111

       HuongNha  HuongBanCong  PhapLy     Ward
0           6.0           6.0     2.0  27421.0
1           5.0           6.0     4.0  27298.0
2           4.0           3.0     1.0    199.0
3           6.0           6.0     2.0  25972.0
4           6.0           5.0     1.0   9541.0
...         ...           ...     ...      ...
22822       6.0           6.0     1.0  27358.0
22823       6.0           6.0     4.0   6673.0
22824       6.0           6.0     1.0  25954.0
22825       3.0           3.0     2.0  11320.0
22826       6.0           5.0     1.0    577.0

[22826 rows x 15 columns]

In [30]:
# df = df.dropna(subset=['MucGia'])
df["USD"] = (df["MucGia"]/25400).round(2)
# df=df.drop(columns="MucGia")

In [31]:
df=df.drop(columns=["Unnamed: 0","DiaChi","MucGia","Lat","Long"])

In [32]:
df.head(5)

,DienTich,City,District,SoPhongNgu,SoToilet,NoiThat,HuongNha,HuongBanCong,PhapLy,Ward,USD
0,50.00,79.0,776.0,1.0,1.0,3.0,6.0,6.0,2.0,27421.0,88582.68
1,50.00,79.0,773.0,1.0,1.0,2.0,5.0,6.0,4.0,27298.0,145669.29
2,73.00,1.0,6.0,2.0,2.0,2.0,4.0,3.0,1.0,199.0,221585.25
3,33.24,74.0,725.0,1.0,2.0,2.0,6.0,6.0,2.0,25972.0,39370.08
4,110.00,1.0,268.0,3.0,2.0,2.0,6.0,5.0,1.0,9541.0,216535.43

In [33]:
# Assuming df is your DataFrame
X = df.iloc[:,0:10].values#features
y = df.iloc[:,10].values# Target variable# Target variable

In [34]:
label_encoder = LabelEncoder()
x_numerical = df.select_dtypes(exclude=['object']).values
# Split dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(x_numerical, y, test_size=0.2, random_state=42)

# Initialize the Random Forest Regressor
regressor = RandomForestRegressor(n_estimators=100, max_depth=10, random_state=0, oob_score=True)

# Fit the model
regressor.fit(X_train, y_train)

# Access the OOB Score
oob_score = regressor.oob_score_
print(f'Out-of-Bag Score: {oob_score}')

# Making predictions on the test data
y_pred = regressor.predict(X_test)

# Đánh giá mô hình
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error: {mse}')
print(f'Root Mean Squared Error: {rmse}')
print(f'R-squared: {r2}')

Out-of-Bag Score: 0.4390052260783942
Mean Squared Error: 2130926.806001211
Root Mean Squared Error: 1459.769435904592
R-squared: 0.9999475583870212